<div class="row">
  <div class="col-md-1">
    <%= icon('map-o') %>
  </div>
  <div class="col-md-11">
    <h4><strong>วางแผนสิ่งที่ควรปฏิบัติ</strong></h4>
    <p>
      วางแผนที่จะติดต่อสื่อสารถึง เพื่อน ญาติพี่น้อง หรือครอบครัว เผื่อไว้หลายๆ รูปแบบ
      หากโทรศัพท์บ้านหรือโทรศัพท์มือถือใช้การไม่ได้ ก็อาจใช้อีเมลแทน
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= icon('warning') %>
  </div>
  <div class="col-md-11">
    <h4><strong>เตรียมรวบรวมสิ่งของเครื่องใช้ที่จำเป็น</strong></h4>
    <p>
      เอกสารสำคัญประจำตัว เช่น หนังสือเดินทาง ใบขับขี่ บัตรประกันสุขภาพ และอื่นๆ
      ควรเก็บไว้ในถุงพลาสติกหรือแฟ้มที่กันน้ำได้ น้ำสะอาดสำหรับใช้ดื่ม อาหารแห้ง สำเร็จรูป
      เครื่องกระป๋อง ให้เพียงพอ อย่างน้อย 3 วัน
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= icon('support') %>
  </div>
  <div class="col-md-11">
    <h4><strong>ติดตามข่าวสารในเขตพื้นที่ที่พักอาศัย</strong></h4>
    <p>
      ควรรับฟังข่าวสาร ประกาศเตือน จากทางสื่อวิทยุ โทรทัศน์ อินเตอร์เน็ท เป็นประจำทุกวัน
      พร้อมที่จะปรับใช้แผนที่เตรียมไว้ เข้ากับสถานะการณ์ที่เกิดขึ้นได้อย่างเหมาะสม
    </p>
  </div>
</div>
