<div class="row">
  <div class="col-md-1">
    <%= icon('map-o') %>
  </div>
  <div class="col-md-11">
    <h4><strong>ก่อนแผ่นดินไหว</strong></h4>
    <ul>
      <li>สมัครและรอรับรับข่าวเตือนภัยจากเรา</li>
      <li>ดูข้อมูลน้ำท่วมในเขตของคุณ</li>
      <li>ฝึกเคลื่อนย้ายสู่สถานที่ปลอดภัยเช่น ใต้โต๊ะ หรือที่โล่งแจ้ง</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= icon('warning') %>
  </div>
  <div class="col-md-11">
    <h4><strong>ขณะแผ่นดินไหว (หากอยู่ในอาคาร)</strong></h4>
    <ul>
      <li>เคลื่อนย้ายสู่สถานที่ปลอดภัยเช่น ใต้โต๊ะ</li>
      <li>หลีกเลี่ยงการวิ่งออกจากอาคาร</li>
      <li>หลีกเลี่ยงการอยู่ใกล้กระจก ผนัง และสิ่งของที่อาจล้มทับ</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= icon('support') %>
  </div>
  <div class="col-md-11">
    <h4><strong>หลังแผ่นดินไหว</strong></h4>
    <ul>
      <li>เคลื่อนย้ายสู่ที่โล่ง ห่างจากอาคาร</li>
      <li>หากคุณถูกกดทับ ไม่สามารถเคลื่อนไหว พยายามหาสิ่งของ เคาะให้เกิดเสียง เพื่อขอความช่วยเหลือ</li>
      <li>เตรียมพร้อมหากเกิดแผ่นดินไหวอีกครั้ง</li>
    </ul>
  </div>
</div>
