<div class="row">
  <div class="col-md-1">
    <%= icon('map-o') %>
  </div>
  <div class="col-md-11">
    <h4><strong>ก่อนน้ำท่วม</strong></h4>
    <ul>
      <li>สมัครและรอรับรับข่าวเตือนภัยจากเรา</li>
      <li>ดูข้อมูลน้ำท่วมในเขตของคุณ</li>
      <li>ปิดน้ำ, ไฟฟ้า และ แก๊ส ภายในบ้าน</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= icon('warning') %>
  </div>
  <div class="col-md-11">
    <h4><strong>ขณะน้ำท่วม</strong></h4>
    <ul>
      <li>โทรขอความช่วยเหลือไปยัง 1111 กด 5 <%= link_to "(ศปภ.)", "http://www.dgr.go.th/flood/", target: "_blank" %></li>
      <li>หลีกเลี่ยงการเดินทางในจุดน้ำท่วม</li>
      <li>ให้ความช่วยเหลือ หรือขอความช่วยเหลือจากเพื่อนบ้าน</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= icon('support') %>
  </div>
  <div class="col-md-11">
    <h4><strong>หลังน้ำท่วม</strong></h4>
    <ul>
      <li>เลี่ยงการใช้แก๊ส, ไฟฟ้า ก่อนตรวจสอบจากช่าง</li>
      <li>เลี่ยงอาหารที่สัมผัสน้ำท่วม</li>
      <li>โทรสอบถามการประปา ก่อนการใช้น้ำ</li>
    </ul>
  </div>
</div>
