<% provide :title, "เกี่ยวกับเรา" %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="scroll-pane">
        <div class="card first">
          <div class="card-block">
            <h1 class="h1 card-title">เกี่ยวกับเรา</h4>
              <p class="p lead">EDM Alert (beta) เป็นโปรเจคชนะรางวัล ในโครงการ <%= external_link_to 'EDM Hack (Emergency Disaster Mitigation Hackathon)', 'http://socialtech.or.th/post/edmhack' %></p>
              <p class="p lead">โปรเจคนี้ใช้ข้อมูลระบบเรียลไทม์ จากหน่วยงานรัฐบาล แจ้งเตือนคุณให้เตรียมพร้อมรับมือ และปลอดภัยจากภัยพิบัติ</p>
              <br/>
              <p class="p lead">ติดต่อ:  <%= external_link_to 'thaiedmalert@gmail.com', 'mailto:thaiedmalert@gmail.com?Subject=EDM Alert Contact' %>
              <p class="p lead">GitHub: <%= external_link_to 'https://github.com/wulab/edm-alert', 'https://github.com/wulab/edm-alert'  %> </p>
          </div>
        </div>
      </div>
  </div>
</div>
