<div id="map_container" class="google-map-container star-map-container">
  <div id="map_canvas" class="google-map canvas-map"></div>
  <div class="star-map-overflow">
    <div id="star_canvas" class="star-map canvas-stars"></div>
  </div>
</div>
