<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h3>Unsubscribed Successfully</h3>
      <p>
        เราทำการยกเลิก การรับข่าวเตือนภัยให้คุณแล้ว <br />
        คุณสามารถแก้ไขข้อมูล
        <%= link_to "ที่นี่", edit_user_registration_path %>
        หากคุณต้องการรับข่าวอีกครั้ง.
      </p>
    </div>
  </div>
</div>
