/*
 * Layout Rules
 * https://smacss.com/book/type-layout
 */

#main { padding-top: 60px; }

.card {
  border-top: 6px solid #5f84e9;
  position: relative;
  margin-bottom: 24px;
  border-bottom: 1px solid #5f84e9;
  border-radius: 2px;
  .card-block {
    background: rgba(255,255,255,0.8);
    padding: 15px;
  }
}

.google-map-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: -1;
  > * {
    position: absolute;
    left:0;
    width: 100%;
  }

  &.star-map-container {
    .google-map{
      top: 0;
      height: 100%;
      min-height: 100%;

    }
    .star-map-overflow {
      position: absolute;
      left:0;
      width: 100%;
      height: 0;
      overflow: visible
    }
    .star-map {
      position: absolute;
      left:0;
      width: 100%;
      top:0;
      height: 40%;
      min-height: 40%;
      background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
      background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    }
  }
}

.dropdown-panel {
  z-index: 1
}

#event-map {
  height: 300px;
}

.warning-preparation, .emergency-contact {
  h3 {
    padding-top: 2rem;
    line-height: 1.5;
  }
  ul li, p {
    font-size: 18px;
  }
}

.warning-preparation  {
  .row {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  i {
    margin-top: 1rem;
    font-size: 40px;
  }
}

.emergency-contact .contact-card {
  padding: 1rem;
  border-bottom: 1px solid #DCDCDC;
  i {
    color: #A9A9A9;
  }
  a {
    color: #000;
  }
  p.icon {
    width: 22px;
    float: left;
  }
  p.text {
    padding-left: 22px;
  }
}

.share-buttons {
  ul {
  	overflow: auto;
    padding-left: 0px;
  }
  ul li {
  	list-style-type: none;
  	float: left;
  }
  ul li a i {
  	background: #205D7A;
  	color: #fff;
  	width: 40px;
  	height: 40px;
  	border-radius: 20px;
  	font-size: 25px;
  	text-align: center;
  	margin-right: 10px;
  	padding-top: 15%;
  }
  ul li a i {
    transition: all 0.2s ease-in-out;
  }
  ul li a i:hover {
  	opacity: 0.7;
  }
}

.welcome-card .card-block {
  text-align: center;
  .links {
    padding-top: 2rem;
    text-align: center;
  }
}

.pages-about,
.user-registrations-new,
.devise-sessions-new,
.pages-howitwork,
.devise-passwords-new {
  background-image: image-url("light_wave_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom -.125rem center;
  min-height: 100vh;
  .card {
    margin-top: 2rem;
  }
  .card .card-block {
    background: rgba(255, 255, 255, 0.5);
  }
  .card-title {
    font-family: 'Kanit', sans-serif;
    text-align: center;
  }
  .links {
    padding: 1rem 0;
    text-align: center;
  }
}

.pages-about .section-1 {
  padding-bottom: 2rem;
}

#how-it-work {
  .title {
    text-align: center;
    padding-top: 3rem;
  }
  .explain-icon {
    text-align: center;
    i.fa {
      font-size: 150px;
      padding: 5rem;
    }
  }
  .section {
    padding: 5rem 0;
  }
}

#top-nav {
  font-family: 'Kanit', sans-serif;
  background-color: rgb(95, 132, 233);
  border: none;
  min-height: 60px;
  padding: 8px 16px;

  .navbar-toggle {
    border-color: #FFF;

    .icon-bar {
      background-color: #FFF;
    }
  }
}

a.navbar-brand {
  font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
  color: #FFF;
  line-height: 1.90em;
  float: left;
  font-size: 20px;
  padding-top: 5px;
  margin-right: 1rem;

  &:hover {
    color: #000;
  }
}


.navbar {
  .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    &:hover, &:focus:hover {
      color: #FFF;
      background-color: transparent;
    }
  }
}

#header {
  position: relative;
  min-height: auto;
  text-align: center;
  color: #FFF;
  width: 100%;
  background-image: image-url("wave_bg.svg");
  background-color: #5f84e9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;

  .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 2;
    padding: 6rem 0 7.5rem;

    h1 {
      text-shadow: 0px 4px 0px #4B6FD2;
    }

    .inner {
      height: 100%;
    }

    .image-inner img {
      padding: 2rem;
      width: 100%;
    }

    .header-detail {
      font-family: 'Kanit', sans-serif;
      padding: 1rem 0;
      line-height: 3rem;
    }
  }
}

.section {
  padding: 100px 1rem;

  h2, h3 {
    padding-bottom: 1rem;
  }
}

#credibility {
  .awards .award {
    display: inline-block;
    margin: 0 41px;

    .award-organisation {
      margin: 1rem 0;

      img {
        height: 60px;
        width: auto;
      }
    }

    .award-logo {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100px 72px;
    }
  }
}

.btn-primary-outline {
  border-color: #FFF;
  background-color: #FFF;
  color: #5f84e9;

  &:hover {
    background-color:#5f84e9;
    color:#FFF;
  }
}

.btn-xl {
  padding: 15px 30px;
  font-size: 20px;
}

.thai-headline {
  font-family: 'Kanit', sans-serif;
}

.bg-primary {
  background-color: #007FFF;
}

.bg-alt {
  background-color: #fff;
}

#trustworthy .content {
  line-height: 4rem;
}

footer {
  font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
  background-color: rgb(224, 224, 227);
  padding: 40px 45px 45px;
}

#random-slogan {
  opacity: 0.9;
}

#howitwork {
  .feature img {
    height: 120px;
    width: auto;
  }
}

#main.pages-map {
  padding-top: 80px;
}

.bg-grey {
  background-color: #f7f7f7;
}

.pages-index .alert {
  margin-bottom: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

@media (min-width: 48em) {
  #header .header-content .guest-content {
    margin-top: 30%;
    padding: 1rem;
  }

  #header .header-content .member-content {
    margin-top: 20%;
    padding: 1rem;
  }

  .copyright {
    text-align: right;
  }
}

@media(max-width:48em) {
  #header .header-content {
    .guest-content, .member-content {
      margin-top: 10%;
      padding: 1rem;
    }
  }

  .copyright {
    text-align: center;
  }
}
