<li><%= link_to "แผนที่", pages_map_path, data: { turbolinks: false } %></li>
<li><%= link_to "ข้อมูลเตือนภัย", events_path %></li>
<li><%= link_to "ทำงานอย่างไร", pages_howitwork_path %></li>
<li><%= link_to "เกี่ยวกับเรา", pages_about_path %></li>
